<!DOCTYPE html>
<html>
<head>
    <title>Real-time update</title>
</head>
<body>
    <h1>Real-time update</h1>
    <div>
        <h2 id="time_webcam">value</h2>
    </div>
    <script>
        setInterval(function() {
            fetch('/update_time').then(function(response) {
                return response.text();
            }).then(function(text) {
                document.getElementById('time_webcam').textContent = text;
            });
        }, 1000);
    </script>
</body>
</html>